#h1 {
    border-radius: 10px;
}

#pad48 {
    height: 580px;
    padding-top: 100px !important;
}

.feature {
    display: inline-block; 
    padding: 10px 15px; 
    background-color: #6dafe9;
}

#tik {
    color: lightgreen;
}

#hand {
    color: rgb(155, 111, 59);
}

#dead {
    color: rgb(202, 78, 29);
}

#message {
    height: 10rem;
}

.bg-dark.py-4 {
    margin-top: 61px;
}
